.App {
    /* text-align: center; */
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: 500px 1fr;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


h5{
  font-size: 1.25rem;
  margin-bottom: .25rem!important;
}

/* .recentDonation{
   margin-bottom: 1.5rem!important;
} */


input{
  /* display: block; */
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.header{
  grid-row: 1;
  grid-column: 1/3;
  padding: 4rem 2rem;
  background-color: #e9ecef;

}

.headerDescription{
  display: flex;
  justify-content: center;
}


#goFundMe{
  font-size: 2.5rem;
}

.left-side{
  /* margin-left: auto; */
  /* padding-left: 0px; */
  /* margin-top: 50px; */
  margin-bottom: 50px;
  margin-left: 150px;
  background-color: #eee;
}

.right-side{
  margin-right: 200px;
}

.right-side, .left-side{
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;

}

#customRangeP {
  display: flex;
  justify-content: flex-end;
}


.custom-range{

  height: calc(1rem + .4rem);
  /* -webkit-appearance: initial; */
}


#donateSubmit{
  color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

li{
  list-style-type:none;
}

h2{
  margin: 0px;
}


.progress{
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}


.progress-bar{
  display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
    /* width: 2 5%; */
    background-color: #28a745!important;
}