/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

li:first-child {
  background-color: rgba(147, 224, 247, 0.507);
  color: rgb(0, 0, 0);
  font-weight: 900;
}

ul {
  height: 65vh;
  overflow: scroll;
}

.feed-box {
  height: 60vh;
}